.Pg11Container {
    display: grid;
    grid-template-areas:
        'header header'
        'main main'
        'aside aside'
    ;
    gap: 3rem;
}

.Pg11Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.Pg11HeaderH2 {
    color: black;
}

.Pg11Main {
    width: 100%;
    text-align: center;
}

.Pg11Aside {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Este é um comentário */

.Pg11TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.Pg11StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.Pg11StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.Pg11StyledTable th,
.Pg11StyledTable td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.Pg11StyledTable tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.Pg11StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.Pg11InputCell {
    width: 100%;
    height: calc(7vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
}

.Pg11InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.Pg11InputCell::-webkit-scrollbar {
    display: none;
}

.Pg11Sujeito {
    width: calc(10vw * 0.85);
}

.Pg11VerboAuxiliar {
    width: calc(10vw * 0.85)
}

.Pg11Adverbio {
    width: calc(12vw * 0.85)
}

.Pg11Verbo {
    width: calc(12vw * 0.85)
}

.Pg11ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.Pg11Traducao {
    width: (18vw * 0.85);
}

.Pg11AsideNotes1 {
    width: 50%;
    height: 4.5rem;
    border: .4rem solid #A61C28;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    background-color: #A61C28;
    color: white;
    display: flex;
    align-items: center;
}

.Pg11AsideNotes1 p {
    font-size: 1.5rem;
}

.Pg11AsideImgNotes {
    height: calc(10px + 0.8vw);
    width: 2rem;
    padding-right: .5rem;
}

.Pg11AsideNotes2 {
    width: 50%;
    height: 100%;
    border: .4rem solid #A61C28;
    border-top: .1rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.Pg11AsideNotes2 p {
    font-size: 1.5rem;
    padding: 1rem;
}


@media (max-width: 1024px) {
    .Pg11StyledTable {
        margin-bottom: 15%;
    }

    .Pg11StyledTable th,
    .Pg11StyledTable td {
        padding: .5rem;

    }

    .Pg11InputCell {
        height: calc(6vw * 0.85);
    }

    .Pg11AsideNotes1,
    .Pg11AsideNotes2 {
        width: 100%;
    }

    .Pg11AsideNotes1 p,
    .Pg11AsideNotes2 p {
        padding: 1rem;
        font-size: 2.75rem;
    }
}