.pg4Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

hr {
    grid-area: hr;
}

.p4Table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    border: .1rem solid #ccc;
    border-radius: .8rem;
    overflow: hidden;
}

.p4Table th,
.p4Table td {
    border: .1rem solid #ddd;
    padding: 1.2rem;
    text-align: center;
    width: 0;
}

.p4Table th {
    background-color: #e7f3f9;
    font-weight: bold;
    font-size: 2rem;
    color: black !important;
}

.p4Table td {
    background-color: #f9fbfc;
    font-size: 2.5rem;
}

.p4Table tr:nth-child(even) td {
    background-color: #f3f8fc;
    font-size: 2.5rem;
}

.pg4MainHr {
    border: .3rem solid #b30000;
    width: 100%;
    margin: 2rem 0;
    border: .3rem solid #b30000;
    width: 100%;
    margin: 2rem 0;
}

.pg4Highlight {
    font-weight: bold;
    color: #b30000;
}

.pg4Header {
    height: 100%;
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.pg4HeaderH2 {
    color: black;
}

.pg4Main {
    height: 100%;
    width: 100%;
    text-align: center;
}

.pg4Aside {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 0px;
    list-style-position: inside;
}

.pg4AsideAffirmative {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pg4AsideNegative {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pg4AsideDivH3 {
    font-size: 3rem;
    color: #A61C28;
}

.clickable {
    cursor: pointer;
}

@media (max-width: 1080px) {
    .p4Table th, .p4Table td {
        font-size: 2vw;
        padding: 8px;
    }

@media (max-width: 1024px) {

    .p4Table th,
    .p4Table td {
        padding: .8rem;
    }

    hr {
        margin: .5rem 0;
    }
}
}