.pg6Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pg6Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.pg6HeaderH2 {
    color: black;
}

.pg6Main {
    width: 100%;
    text-align: center;
}

.pg6Aside {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Este é um comentário */

.pg6TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.pg6StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.pg6StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.pg6StyledTable th,
.pg6StyledTable td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.pg6StyledTable tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.pg6StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.pg6InputCell {
    width: 100%;
    height: calc(7vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
}

.pg6InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.pg6InputCell::-webkit-scrollbar {
    display: none;
}

.pg6Sujeito {
    width: calc(10vw * 0.85);
}

.pg6VerboAuxiliar {
    width: calc(10vw * 0.85)
}

.pg6Adverbio {
    width: calc(12vw * 0.85)
}

.pg6Verbo {
    width: calc(12vw * 0.85)
}

.pg6ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.pg6Traducao {
    width: (18vw * 0.85);
}

.pg6AsideNotes1 {
    width: 50%;
    height: 4.5rem;
    border: .4rem solid #A61C28;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    background-color: #A61C28;
    color: white;
    display: flex;
    align-items: center;
}

.pg6AsideNotes1 p {
    font-size: 1.5rem;
}

.pg6AsideImgNotes {
    height: calc(10px + 0.8vw);
    width: 2rem;
    padding-right: .5rem;
}

.pg6AsideNotes2 {
    width: 50%;
    height: 100%;
    border: .4rem solid #A61C28;
    border-top: .1rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.pg6AsideNotes2 p {
    font-size: 1.5rem;
    padding: 1rem;
}


@media (max-width: 1024px) {

    .pg6StyledTable {
        margin-bottom: 15%;
    }

    .pg6StyledTable th,
    .pg6StyledTable td {
        padding: .5rem;
    }

    .pg6InputCell {
        height: calc(6vw * 0.85);
        padding: 0;
    }

    .pg6AsideNotes1,
    .pg6AsideNotes2 {
        width: 100%;
    }

    .pg6AsideNotes1 p,
    .pg6AsideNotes2 p {
        padding: 1rem;
        font-size: 2.75rem;
    }
}