.pg115Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.pg115StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    table-layout: fixed;
}

.pg115StyledTable th,
.pg115StyledTable td {
    border: 0.1rem solid #A61C28;
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.pg115StyledTable th {
    background-color: #888A8C; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto */
    font-weight: bold;
    font-size: 1.2rem; /* Tamanho maior da fonte */
    text-align: center; /* Centraliza o texto */
    padding: 1.5rem; /* Mais espaço ao redor do texto */
}


.pg115TableAligned {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

.pg115Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.pg115HeaderH2 {
    color: black;
}

.pg115Main {
    width: 100%;
    text-align: center;
}

.pg115TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.pg115InputCell {
    width: 100%; /* Ocupa toda a largura da célula */
    height: calc(10vh * 0.85); /* Aumenta a altura */
    font-size: 1.5rem;
    line-height: 1.5;
    border: none;
    padding: 0.8rem; /* Espaçamento interno */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    resize: none;
    overflow-wrap: break-word; 
}

.pg115InputCell:focus {
    outline: none;
    border: 0.1rem solid #F2F2F2;
    background-color: white;
}


.pg115InputCell::-webkit-scrollbar {
    display: none;
}

.pg115ColIntro {
    width: 20%;
}

.pg115ColSujeito {
    width: 15%;
}

.pg115VerboAux {
    width: 15%;
}

.pg115ColNot {
    width: 10%;
}

.pg115ColVerbo {
    width: 25%;
}

.pg115ColComplemento {
    width: 20%;
}

.pg115ExtraColumn {
    background-color: #888A8C;
    color: white;
    border: 1px solid #A61C28;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .pg115StyledTable {
        margin-bottom: 15%;
    }

    .pg115StyledTable th,
    .pg115StyledTable td {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .pg115InputCell {
        height: calc(6vw * 0.8);
    }
}
