.page__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page__header {
    width: 100%;
    text-align: left;
    color: #a61c28;
}

.page__main {
    width: 100%;
    text-align: center;
}

.page__main img {
    width: 25%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.page__aside {
    margin: 0;
    height: 20rem;
    width: 100%;
    text-align: left;
    padding-left: 0;
    list-style-position: inside;
}

.page__aside__header {
    width: 50%;
    color: #a61c28;
}

.page__aside__list {
    width: 50%;
    font-size: 2.2rem;
    margin-top: 1rem;
}

.page__icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.page__icon:hover {
    transform: scale(1.1);
}

.page__header h1,
.page__aside__header h2,
.page__aside__list li {
    cursor: pointer;
}

@media (max-width: 1024px) {
    .page__main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.1rem;
    }

    .page__main img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .page__aside {
        flex-direction: column;
        height: 100%;
    }

    .page__aside div {
        width: 100%;
    }
}