.page__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page__table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    border: 0.1rem solid #ccc;
    border-radius: 0.8rem;
    overflow: hidden;
}

.page__table__header,
.page__table__cell {
    border: 0.1rem solid #ddd;
    padding: 1.2rem;
    text-align: center;
    width: 0;
}

.page__table__header {
    background-color: #e7f3f9;
    font-weight: bold;
    font-size: 2rem;
    color: black !important;
}

.page__table__cell {
    background-color: #f9fbfc;
    font-size: 2.5rem;
}

.page__table tr:nth-child(even) td {
    background-color: #f3f8fc;
    font-size: 2.5rem;
}

.page__divider {
    border: 0.3rem solid #b30000;
    width: 100%;
    margin: 2rem 0;
}

.page__table__highlight {
    font-weight: bold;
    color: #b30000;
}

.page__header {
    height: 100%;
    width: 100%;
    text-align: left;
    color: #a61c28;
}

.page__header__title,
.page__header__subtitle {
    color: inherit;
}

.page__main {
    height: 100%;
    width: 100%;
    text-align: center;
}

.page__aside {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 0;
    list-style-position: inside;
}

.page__aside__affirmative,
.page__aside__negative {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page__aside__title {
    font-size: 3rem;
    color: #a61c28;
}

.page__clickable {
    cursor: pointer;
}

.page__icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.page__icon:hover {
    transform: scale(1.1);
}

.page__icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    top: 0.3rem;
    transition: transform 0.2s ease-in-out;
}

.page__icon:hover {
    transform: scale(1.2);
}


@media (max-width: 1080px) {
    .page__table__header,
    .page__table__cell {
        font-size: 2vw;
        padding: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .page__table__header,
    .page__table__cell {
        padding: 0.8rem;
    }

    .page__divider {
        margin: 0.5rem 0;
    }
}