.Pg25Container {
    display: grid;
    grid-template-areas: 
    'header header'
    'main main'
    ;
    gap: 30px;
}

.Pg25Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.Pg25HeaderH2 {
    color: black;
}

.Pg25Main {
    width: 100%;
    text-align: center;
}

.Pg25TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
}

.Pg25StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

.Pg25StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}

.Pg25StyledTable th, .Pg25StyledTable td {
    border: 1px solid #A61C28;
    padding: 10px;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.Pg25StyledTable tbody tr {
    background-color: white;
}

.Pg25StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.Pg25InputCell {
    width: 100%;
    height: 7vh;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.Pg25InputCell:focus {
    outline: none;
    border: 1px solid #F2F2F2;
    background-color: white;
}

.Pg25InputCell::-webkit-scrollbar {
    display: none;
}

.Pg25Sujeito {
    width: 130px;
    min-height: 50px;
}

.Pg25VerboAuxiliar {
    width: 170px;
    min-height: 50px;
}

.Pg25Adverbio {
    width: 140px;
    min-height: 50px;
}

.Pg25Verbo {
    width: 210px;
    min-height: 50px;
}

.Pg25ObjetivoComplemento {
    width: 260px;
    min-height: 50px;
}

.Pg25Traducao {
    height: 80px;
    width: 390px;
}

@media (max-width: 1080px) {
    .Pg25StyledTable{
        margin-bottom: 15%;
    }

    .Pg25StyledTable th, 
    .Pg25StyledTable td {
        padding: 5px;
    }

    .Pg25InputCell {
        height: 3vw;
        padding: 0px;
    }

    .Pg25Traducao {
        height: auto;
        width: 100%;
    }
}
