.Pg18Container {
    display: grid;
    grid-template-areas:
        'header header'
        'main main';
    gap: 3rem;
}

.Pg18Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.Pg18HeaderH2 {
    color: black;
}

.Pg18Main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.Pg18TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.Pg18StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.Pg18StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.Pg18StyledTable th,
.Pg18StyledTable td {
    border: 1px solid #A61C28;
    padding: 10px;
    text-align: left;
    color: black;
    font-weight: bold;
}

.Pg18StyledTable tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.Pg18StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.Pg18InputCell {
    width: 100%;
    height: calc(7vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
}

.Pg18InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.Pg18InputCell::-webkit-scrollbar {
    display: none;
}

.Pg18Sujeito {
    width: calc(10vw * 0.85);
}

.Pg18VerboAuxiliar {
    width: calc(10vw * 0.85)
}

.Pg18Adverbio {
    width: calc(12vw * 0.85)
}

.Pg18Verbo {
    width: calc(12vw * 0.85)
}

.Pg18ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.Pg18Traducao {
    width: (18vw * 0.85);
}

@media (max-width: 1024px) {
    .Pg18StyledTable {
        margin-bottom: 15%;
    }

    .Pg18StyledTable th,
    .Pg18StyledTable td {
        padding: .5rem;

    }

    .Pg18InputCell {
        height: calc(6vw * 0.85);
    }
}