.pg97Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
}

.pg97Header {
    width: 100%;
}

.pg97H1 {
    text-align: left;
    font-size: 6rem;
    color: #8a1720;
}

.pg97H2 {
    text-align: left;
    font-size: 2.5rem;
    color: #8a1720;
    margin-bottom: 2rem;
    font-weight: bold;
}

.pg97Main {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

/* Este é um comentário */

.pg97ContainerQuestoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pg97PrimeirasQuestoes {
    display: flex;
    flex-direction: column;

}

.pg97Questions1,
.pg97Questions2 {
    margin-top: 2rem;
    text-align: left;
}

.pg97Question {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    color: black;
    text-align: left;
}

.pg97Question span {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}

.pg97ATituloQuestion {
    font-weight: bold;
    font-size: 1.7rem;
}

.pg97NumeroQuestion {
    font-weight: bold;
    font-size: 2rem;
}

.pg97InputBox {
    width: 100%;
    padding: 8px 35px 8px 8px;
    font-size: 1.6rem;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: left;
}

.pg97InputContainer {
    width: 25%;
    gap: 1rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.pg97CheckmarkImage {
    width: 2.5rem;
    height: 2.5rem;
    pointer-events: none;
}

.pg97CheckButton {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    margin: 2rem;
    text-align: center;
    display: block;
    font-size: 2rem;
    width: fit-content;
}

.pg97CheckButton:hover {
    background-color: #8a1720;
}

.pg97IconsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 5px;
}

.pg97AdditionalIcon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pg97AdditionalIcon.pg97Pulsing {
    animation: pulse 1s infinite;
}

.pg97AdditionalIcon:hover {
    transform: scale(1.2);
}

.pg97tabelaAfirmativaContainer,
.pg97tabelaInterrogativaContainer {
    width: 70%;
}

.pg97tableHeaderAfirmativa,
.pg97tableHeaderInterrogativa {
    background-color: #A61C28;
    color: white;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
    margin-bottom: 0.2rem;
}

.pg97styledTableAfirmativa,
.pg97styledTableInterrogativa {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0.5rem;
}

.pg97styledTableAfirmativa th,
.pg97styledTableInterrogativa th {
    background-color: #888A8C;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #A61C28;
}

.pg97celulatable {
    height: 7rem;
}

.pg97ContainerImagem {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg97imagem {
    width: 100%;
}

.pg97spaminput {
    width: 15%;
}

.pg97HeaderIcon, .pg97AdditionalIcon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.pg97HeaderIcon:hover, .pg97AdditionalIcon:hover {
    transform: scale(1.2);  /* Aumenta o ícone ao passar o mouse */
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}