.Pg13Container{
    display: grid;
    grid-template-areas: 
    'header header'
    'main main'
    ;
    gap: 30px;
}

.Pg13Header{
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.Pg13HeaderH2{
    color: black;
}

.Pg13Main{
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.Pg13TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
}

.Pg13StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

.Pg13StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.Pg13StyledTable th, .Pg13StyledTable td {
    border: 1px solid #A61C28;
    padding: 10px;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.Pg13StyledTable tbody tr {
    background-color: white;
}

.Pg13StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.Pg13InputCell {
    width: 100%;
    height: 7vh;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.Pg13InputCell:focus {
    outline: none;
    border: 1px solid #F2F2F2;
    background-color: white;
}

.Pg13InputCell::-webkit-scrollbar {
    display: none;
}


.Pg13Sujeito {
    width: 130px;
    min-height: 50px;
}

.Pg13VerboAuxiliar {
    width: 170px;
    min-height: 50px;
}

.Pg13Adverbio {
    width: 140px;
    min-height: 50px;
}

.Pg13Verbo {
    width: 210px;
    min-height: 50px;
}

.Pg13ObjetivoComplemento {
    width: 260px;
    min-height: 50px;
}

.Pg13Traducao {
    height: 80px;
    width: 390px;
}

@media (max-width: 1080px) {
    .Pg13StyledTable{
        margin-bottom: 15%;
    }

    .Pg13StyledTable th, 
    .Pg13StyledTable td {
        padding: 5px;
    }

    .Pg13InputCell {
        height: 3vw;
        padding: 0px;
    }

    .Pg13Traducao {
        height: auto;
        width: 100%;
    }
}
