.Pg23Container {
    display: grid;
    grid-template-areas:
        'header header'
        'main main'
    ;
    gap: 3rem;
}

.Pg23Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.Pg23HeaderH2 {
    color: black;
}

.Pg23Main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.Pg23TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.Pg23StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.Pg23StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.Pg23StyledTable th,
.Pg23StyledTable td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.Pg23StyledTable tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.Pg23StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.Pg23InputCell {
    width: 100%;
    height: calc(7vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
}

.Pg23InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.Pg23InputCell::-webkit-scrollbar {
    display: none;
}

.Pg23Sujeito {
    width: calc(10vw * 0.85);
}

.Pg23VerboAuxiliar {
    width: calc(10vw * 0.85)
}

.Pg23Adverbio {
    width: calc(12vw * 0.85)
}

.Pg23Verbo {
    width: calc(12vw * 0.85)
}

.Pg23ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.Pg23Traducao {
    width: (18vw * 0.85);
}

@media (max-width: 1024px) {
    .Pg23StyledTable {
        margin-bottom: 15%;
    }

    .Pg23StyledTable th,
    .Pg23StyledTable td {
        padding: .5rem;
    }

    .Pg23InputCell {
        height: calc(6vw * 0.85);
    }

}