.Pg15Container {
    display: grid;
    grid-template-areas:
        'header header'
        'main main'
    ;
    gap: 3rem;
}

.Pg15Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.Pg15HeaderH2 {
    color: black;
}

.Pg15Main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.Pg15TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.Pg15StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    table-layout: fixed;
}

.Pg15StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.Pg15StyledTable th,
.Pg15StyledTable td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.Pg15StyledTable tbody tr {
    background-color: white;
}

.Pg15StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.Pg15InputCell {
    width: 100%;
    height: 7vh;
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
}

.Pg15InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.Pg15InputCell::-webkit-scrollbar {
    display: none;
}

.Pg15Sujeito {
    width: calc(10vw * 0.85);
}

.Pg15VerboAuxiliar {
    width: calc(10vw * 0.85)
}

.Pg15Adverbio {
    width: calc(12vw * 0.85)
}

.Pg15Verbo {
    width: calc(12vw * 0.85)
}

.Pg15ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.Pg15Traducao {
    width: (18vw * 0.85);
}

@media (max-width: 1024px) {
    .Pg15StyledTable {
        margin-bottom: 15%;
    }

    .Pg15StyledTable th,
    .Pg15StyledTable td {
        padding: .5rem;

    }

    .Pg15InputCell {
        height: calc(6vw * 0.85);
    }
}