.pg102Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
}

.pg102Header {
    width: 100%;
}

.pg102H1 {
    text-align: left;
    font-size: 6rem;
    color: #8a1720;
}

.pg102Header p{
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.pg102H2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
    
}

.pg102Main {
    display: flex;
    flex-direction: column;
}

.pg102Aside {
    width: 100%;
    display: flex;
}

/* Este é um comentário */

.pg102ContainerQuestoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pg102Questions1,
.pg102Questions2 {
    margin-top: 2rem;
    text-align: left;
}

.pg102Questions4{
    margin-top: 5rem;
}

.pg102Question {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    color: black;
    text-align: left;
}

.pg102Question span {
    font-size: 1.9rem;
    font-weight: bold;
    color: black;
}

.pg102ATituloQuestion {
    font-weight: bold;
    font-size: 2rem;
}

.pg102InputBox {
    width: 30%;
    padding: 0.8rem 3.5rem 0.8rem 0.8rem;
    font-size: 1.8rem;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: left;
}

.pg102InputContainer {
    gap: 1rem;
    width: 23%;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.pg102CheckmarkImage {
    width: 2.5rem;
    height: 2.5rem;
    pointer-events: none;
}

.pg102CheckButton {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    margin: 2rem;
    text-align: center;
    display: block;
    font-size: 2rem;
    width: fit-content;
}

.pg102CheckButton:hover {
    background-color: #8a1720;
}


.pg102IconsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 5px;
}

.pg102AdditionalIcon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pg102AdditionalIcon.pg102Pulsing {
    animation: pulse 1s infinite;
}

.pg102AdditionalIcon:hover {
    transform: scale(1.2);
}

.pg102imagem {
    width: 57rem;
    height: 40rem;

}

.pg102tabelaAfirmativaContainer,
.pg102tabelaNegativaContainer, .pg102tabelaInterrogativaContainer {
    width: 50%;
    height: 10rem;
    margin-top: 3rem;
}

.pg102tableHeaderAfirmativa,
.pg102tableHeaderNegativa, .pg102tableHeaderInterrogativa {
    background-color: #A61C28;
    color: white;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
    margin-bottom: 0.2rem;
}

.pg102styledTableAfirmativa,
.pg102styledTableNegativa, .pg102styledTableInterrogativa {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0.5rem;
}


.pg102styledTableAfirmativa th,
.pg102styledTableNegativa th, .pg102styledTableInterrogativa th {
    background-color: #888A8C;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #A61C28;
}

.pg102celulatable {
    height: 7rem;
}

.pg102Asidecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pg102AsideNotes1 {
    width: 80%;
    height: fit-content;
    border: 4px solid #A61C28;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    text-align: left;
    padding-left: 10px;
    background-color: #A61C28;
    color: white;
    display: flex;
    align-items: center;
}

.pg102AsideImgNotes {
    height: calc(10px + 0.8vw);
    width: 20px;
    padding-right: 5px;
}

.pg102AsideNotes2 {
    width: 80%;
    border: 4px solid #A61C28;
    border-top: 1px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    text-align: left;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.pg102AsideNotes2 p {
    padding: 1vw;
    font-size: 1.65rem;
}

.pg102ContainerImagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70rem;
}

.pg102HeaderIcon{
    width: 28px; /* Tamanho adequado para os ícones */
    height: 28px;
    margin-left: 8px; /* Espaço entre o texto e o ícone */
    cursor: pointer; /* Mostra que o ícone é clicável */
    transition: transform 0.2s ease-in-out; /* Efeito de leve escala ao passar o mouse */
}

.pg102HeaderIcon:hover {
    transform: scale(1.1); /* Leve zoom ao passar o mouse */
}

/* Para garantir alinhamento correto com o texto */
.pg102-header-title {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o texto e os ícones */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .pg102-header-icon {
        width: 24px;
        height: 24px;
    }
}


@media (max-width: 1024px) {
    .pg102AsideNotes2 p {
        font-size: 2rem;
    }

    .pg102styledTableAfirmativa th,
    .pg102styledTableNegativa th {
        font-size: 1.8rem;
    }

    .pg102ContainerQuestoes {
        flex-direction: column;
    }

    .pg102Question {
        gap: 5px;
    }

    .pg102IconsContainer {
        margin-left: 0;
    }

    .pg102ContainerImagem {
        align-items: start;
        justify-content: left;
        height: fit-content;
    }

    .pg102InputContainer {
        width: 15%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}