.pg20Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pg20Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.pg20HeaderH2 {
    color: black;
}

.pg20Main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.pg20TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.pg20StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.pg20StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.pg20StyledTable th,
.pg20StyledTable td {
    border: .1rem solid #A61C28;
    padding: .1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.pg20StyledTable tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.pg20StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.pg20InputCell {
    width: 100%;
    height: calc(8vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    font-size: 1.8rem;
}

.pg20InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.pg20InputCell::-webkit-scrollbar {
    display: none;
}

.pg20AudioText {
    cursor: pointer;
}

.pg20Sujeito {
    width: calc(10vw * 0.85);
}

.pg20VerboAuxiliar {
    width: calc(10vw * 0.85)
}

.pg20Adverbio {
    width: calc(12vw * 0.85)
}

.pg20Verbo {
    width: calc(12vw * 0.85)
}

.pg20ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.pg20Traducao {
    width: (18vw * 0.85);
}

@media (max-width: 1024px) {
    .pg20StyledTable {
        margin-bottom: 15%;
    }

    .pg20StyledTable th,
    .pg20StyledTable td {
        padding: .5rem;

    }

    .pg20InputCell {
        height: calc(6vw * 0.85);
    }
}