.Pg5Container {
    display: grid;
    grid-template-areas:
        'header header'
        'main main'
    ;
    gap: 3rem;
}

.Pg5Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.Pg5HeaderH2 {
    color: black;
}

.Pg5Main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.Pg5TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.Pg5StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.Pg5StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.Pg5StyledTable th,
.Pg5StyledTable td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}


.Pg5StyledTable tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.Pg5StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.Pg5InputCell {
    width: 100%;
    height: calc(7vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
}

.Pg5InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.Pg5InputCell::-webkit-scrollbar {
    display: none;
}


.Pg5Sujeito {
    width: calc(10vw * 0.85);
}

.Pg5VerboAuxiliar {
    width: calc(10vw * 0.85)
}

.Pg5Adverbio {
    width: calc(12vw * 0.85)
}

.Pg5Verbo {
    width: calc(12vw * 0.85)
}

.Pg5ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.Pg5Traducao {
    width: (18vw * 0.85);
}

@media (max-width: 1024px) {
    .Pg5StyledTable {
        margin-bottom: 15%;
    }

    .Pg5StyledTable th,
    .Pg5StyledTable td {
        padding: .5rem;
    }

    .Pg5InputCell {
        height: calc(6vw * 0.85);
    }
}