.pg10Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pg10Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.pg10HeaderH2 {
    color: black;
}

.pg10Main {
    width: 100%;
    text-align: center;
}

.pg10Aside {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Este é um comentário */

.pg10TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.pg10StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.pg10StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.pg10StyledTable th,
.pg10StyledTable td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.pg10StyledTable tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.pg10StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.pg10InputCell {
    width: 100%;
    height: calc(8vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    font-size: 1.8rem;
}

.pg10InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.pg10InputCell::-webkit-scrollbar {
    display: none;
}

.pg10Sujeito {
    width: calc(10vw * 0.85);
}

.pg10verbo_auxiliar {
    width: calc(10vw * 0.85)
}

.pg10Adverbio {
    width: calc(12vw * 0.85)
}

.pg10Verbo {
    width: calc(12vw * 0.85)
}

.pg10ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.pg10Traducao {
    width: (18vw * 0.85);
}

.pg10AsideNotes1 {
    width: 50%;
    height: 4.5rem;
    border: .4rem solid #A61C28;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    background-color: #A61C28;
    color: white;
    display: flex;
    align-items: center;
}

.pg10AsideNotes1 p {
    font-size: 1.5rem;
}

.pg10AsideImgNotes {
    height: calc(10px + 0.8vw);
    width: 2rem;
    padding-right: .5rem;
}

.pg10AsideNotes2 {
    width: 50%;
    height: 100%;
    border: .4rem solid #A61C28;
    border-top: .1rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.pg10AsideNotes2 p {
    font-size: 1.5rem;
    padding: 1rem;
}

.pg10Icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    top: 0.3rem;
    transition: transform 0.2s ease-in-out;
}

.pg10Icon:hover {
    transform: scale(1.2);
}

.page__icon__left {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    right: 42%;
    top: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page__icon__left:hover {
    transform: scale(1.2);
}

@media (max-width: 1024px) {

    .pg10StyledTable {
        margin-bottom: 15%;
    }

    .pg10StyledTable th,
    .pg10StyledTable td {
        padding: .5rem;

    }

    .pg10InputCell {
        height: calc(6vw * 0.85);
    }

    .pg10AsideNotes1,
    .pg10AsideNotes2 {
        width: 100%;
    }

    .pg10AsideNotes1 p,
    .pg10AsideNotes2 p {
        padding: 1rem;
        font-size: 2.75rem;
    }
}