.Pg36Container {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main aside";
    gap: 3rem;
}

.Pg36Header {
    width: 100%;
}
.Pg36MainContainer {
    display: flex;
    flex-direction: column;
    align-items: left; 
}

.Pg36pageTitle,
.Pg36questionText {
    text-align: left;
    padding-left: 0;
    margin: 0; 
    color: #A61C28;
    font-weight: bold;
}

.Pg36fraseContainer {
    margin-bottom: 1rem;
}

.Pg36frase {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.Pg36word {
    font-size: 1.5rem;
    background-color: #d3d3d3;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
}

.Pg36word.Pg36disabled {
    pointer-events: none;
    opacity: 0.5;
}

.Pg36inputFrase {
    display: flex;
    padding: 0.25rem; 
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 0.25rem;
    min-height: 4rem; 
    width: 100%; 
    background-color: whitesmoke;
    overflow-x: auto;
    margin-top: 2%;
}

.Pg36chip {
    font-size: 1.5rem;
    display: inline-flex; 
    background-color: #d3d3d3;
    padding: 0.5rem 0.75rem; 
    border-radius: 0.5rem;
    font-weight: bold; 
    color: black; 
    margin-right: 0.5rem;
    min-width: 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
    
}

.Pg36AsideContainer {
    grid-area: aside;
    display: block;
}

.Pg36checkButton {
    background-color: #A61C28;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
    width: 25%;
}

.Pg36checkButton:hover {
    background-color: #821a22;
}


.Pg36tabelaAfirmativaContainer,
.Pg36tabelaNegativaContainer {
    display: block;
    width: 37rem;
    margin-left: auto;
}

.Pg36tableHeaderAfirmativa,
.Pg36tableHeaderNegativa {
    background-color: #A61C28;
    color: white;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
    margin-bottom: 0.2rem;
}

.Pg36styledTableAfirmativa,
.Pg36styledTableNegativa {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0.5rem;
}


.Pg36styledTableAfirmativa th,
.Pg36styledTableNegativa th {
    background-color: #888A8C;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #A61C28;
}

.Pg36ImagensContainer {
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 10px;
    width: 37rem;
    margin-top: 1rem;
    margin-left: auto;
    
}

.Pg36Imagem {
    border-radius: 5%;
}



@media (max-width: 768px) {
    .Pg36Container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "aside"
            "main";
    }

    .Pg36ImagensContainer {
        flex-direction: row;
        width: 100%;
    }

    .Pg36Imagem {
        width: 49%;
    }

    .Pg36pageTitle {
        font-size: 5rem;
    }

    .Pg36questionText {
        font-size: 3rem;
    }

    .Pg36tabelaAfirmativaContainer,
    .Pg36tabelaNegativaContainer {
        width: 100%;
    }

    .Pg36tableHeaderAfirmativa,
    .Pg36tableHeaderNegativa {
        font-size: 2.5rem;
    }

    .Pg36styledTableAfirmativa th,
    .Pg36styledTableNegativa th,
    .Pg36word,
    .Pg36chip {
        font-size: 2rem;
    }

    .Pg36checkButton {
        font-size: 2.5rem;
    }
}