.Pg17Container{
    display: grid;
    grid-template-areas: 
    'header header'
    'main main'
    ;
    gap: 30px;
}

.Pg17Header{
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.Pg17HeaderH2{
    color: black;
}

.Pg17Main{
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.Pg17TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
}

.Pg17StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

.Pg17StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.Pg17StyledTable th, .Pg17StyledTable td {
    border: 1px solid #A61C28;
    padding: 10px;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.Pg17StyledTable tbody tr {
    background-color: white;
}

.Pg17StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.Pg17InputCell {
    width: 100%;
    height: 7vh;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.Pg17InputCell:focus {
    outline: none;
    border: 1px solid #F2F2F2;
    background-color: white;
}

.Pg17InputCell::-webkit-scrollbar {
    display: none;
}

.Pg17Sujeito {
    width: 130px;
    min-height: 50px;
}

.Pg17VerboAuxiliar {
    width: 170px;
    min-height: 50px;
}

.Pg17Adverbio {
    width: 140px;
    min-height: 50px;
}

.Pg17Verbo {
    width: 210px;
    min-height: 50px;
}

.Pg17ObjetivoComplemento {
    width: 260px;
    min-height: 50px;
}

.Pg17Traducao {
    height: 80px;
    width: 390px;
}

@media (max-width: 1080px) {
    .Pg17StyledTable{
        margin-bottom: 15%;
    }

    .Pg17StyledTable th, 
    .Pg17StyledTable td {
        padding: 5px;
    }

    .Pg17InputCell {
        height: 3vw;
        padding: 0px;
    }

    .Pg17Traducao {
        height: auto;
        width: 100%;
    }
}
