.pg41Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
}

.pg41Title {
    text-align: left;
    font-size: 6rem;
    color: #8a1720;
}

.pg41ExerciseTitle {
    text-align: left;
    font-size: 2.5rem;
    color: #8a1720;
    margin-bottom: 2rem;
    font-weight: bold;
}

.pg41QuestionsContainer {
    margin-top: 2rem;
    text-align: left;
}

.pg41Question {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    color: black;
    text-align: left;
    margin-left: 2.5rem;
}

.pg41Question span {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.pg41InputBox {
    width: 18rem;
    padding: 8px 35px 8px 8px;
    font-size: 1.8rem;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: left;
}

.pg41InputContainer {
    gap: 1rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.pg41CheckmarkImage {
    width: 2.5rem;
    height: 2.5rem;
    pointer-events: none;
}

.pg41CheckButton {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    margin: 2rem;
    text-align: center;
    display: block;
    font-size: 2rem;
    width: fit-content;
}

.pg41CheckButton:hover {
    background-color: #8a1720;
}

.pg41ImagesContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.pg41ImageBasketball,
.pg41ImageChoir {
    width: 35rem;
    height: 20rem;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.pg41ImageBasketball {
    margin-right: 10rem;
    transform: rotate(5deg);
}

.pg41ImageChoir {
    position: absolute;
    margin-left: 10rem;
    transform: rotate(-2deg);
}

.pg41ImageBasketball:hover,
.pg41ImageChoir:hover {
    transform: scale(1.05);
}

.pg41IconsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 5px;
}

.pg41AdditionalIcon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pg41AdditionalIcon.pg41Pulsing {
    animation: pulse 1s infinite;
}

.pg41AdditionalIcon:hover {
    transform: scale(1.2);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}