.pg5Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pg5Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.pg5HeaderH2 {
    color: black;
}

.pg5Main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.pg5TableHeader {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.pg5StyledTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.pg5StyledTable thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}


.pg5StyledTable th,
.pg5StyledTable td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}


.pg5StyledTable tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.pg5StyledTable tbody tr:nth-child(even) {
    background-color: white;
}

.pg5InputCell {
    width: 100%;
    height: calc(7vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
}

.pg5InputCell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.pg5InputCell::-webkit-scrollbar {
    display: none;
}


.pg5Sujeito {
    width: calc(10vw * 0.85);
}

.pg5VerboAuxiliar {
    width: calc(10vw * 0.85)
}

.pg5Adverbio {
    width: calc(12vw * 0.85)
}

.pg5Verbo {
    width: calc(12vw * 0.85)
}

.pg5ObjetivoComplemento {
    width: calc(18vw * 0.85)
}

.pg5Traducao {
    width: (18vw * 0.85);
}

@media (max-width: 1024px) {
    .pg5StyledTable {
        margin-bottom: 15%;
    }

    .pg5StyledTable th,
    .pg5StyledTable td {
        padding: .5rem;
    }

    .pg5InputCell {
        height: calc(6vw * 0.85);
    }
}